* {
	font-family: Verdana;
}

body {
	/* background: linear-gradient(to bottom right, #e7eaba 15%, #f5deea 75%); */
	background-repeat: no-repeat !important;
	background-image: url(img/background-library.jpg);
}

.fa-exchange-alt {
	font-size: 60px;
}

.fa-plus {
	font-size: 60px;
}

.navbar-toggler {
	padding: 0 !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}

.navbar-toggler .collapse div {
	margin-bottom: -3px ;
}


.navbar {
	padding: 15px !important;
	border-bottom-style: inset;
}

.navbar-brand {
	background-image: url(../css/img/logo.png);
	background-size: 100%;
	background-repeat: no-repeat !important;
}

.en-tête {
	text-align: center;
	padding: 20px;
	background: rgb(255,255,255);
	background: linear-gradient(to bottom right, #ded5cc 15%, #e6c28c 75%);
}

.btn-outline-success {
	color: black !important;
	border-color: black !important;
}

.btn {
	border: 1px solid black !important;
}

.btn:hover {
	background-color: black !important;
	color: white !important;
	
}

.btnSubmit {
	border-radius: 1rem;
	border: none;
	transition: 0.2s;
}


.card {
	background: linear-gradient(to bottom right, #ded5cc 15%, #e6c28c 75%) !important;
}
